<!-- <ion-header no-shadow [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-item class="ion-text-center" lines="none">
    <ion-icon name="logo-rss" color="light" class="logo"></ion-icon>
  </ion-item>

  <ion-item class="ion-text-center" lines="none">
   <h1>Firebase</h1>
  </ion-item>

  <ion-grid style="width: 75%;">
    <ion-row class="row">
      <ion-icon name="mail" color="success"></ion-icon>
      <ion-input type="email" placeholder="E-mail" [(ngModel)]="email"></ion-input>
    </ion-row>

    <ion-row class="row">
      <ion-icon name="key" color="success"></ion-icon>
      <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-row>

    <ion-row style="display: block; margin-top: 20px;">
      <ion-button type="button" expand="block" shape="round" fill="outline" color="light" (click)="signup()">Login</ion-button>
    </ion-row>

    <ion-button type="button" expand="block" fill="clear" color="light" (click)="goToSignInPage()">Sign up</ion-button>
  </ion-grid>
</ion-content>
