.row {
  display: flex;
  border: solid var(--ion-color-success) 1px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-radius: 30px;
  margin: 15px;
  

  ion-input {
    margin-top: 5px;
  }
}

.bottom-bar {
  padding: 15px;

  ion-col {
    background-color: var(--ion-color-light);
  }
}

.post {
  width: 100%;
  padding: 10px;
}