<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Your Feed
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="row">
    <ion-button fill="clear" color="success">
      <ion-icon name="images"></ion-icon>
    </ion-button>

    <ion-input type="text" placeholder="Say something, tell us..." [(ngModel)]="textPost"></ion-input>

    <ion-button fill="clear" color="success" (click)="post()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-row>


  <ion-row *ngFor="let post of posts" class="bottom-bar">
    <ion-item-divider color="success">
      {{post.owner_name}}
    </ion-item-divider>

    <div class="post">
      {{post.text}}
    </div>

    <ion-col>
      <ion-button fill="clear" size="small" color="success">
        <ion-icon slot="start" name="thumbs-up"></ion-icon>
        <small>12 likes</small>
      </ion-button>

      <ion-button fill="clear" size="small" color="success">
        <ion-icon slot="start" name="text"></ion-icon>
        <small>12 comments</small>
      </ion-button>

      <ion-button fill="clear" size="small" color="success">
        <small>{{now(post.createdAt)}}</small>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
