<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Your Feed
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="row">
    <ion-button fill="clear" color="success">
      <ion-icon name="images"></ion-icon>
    </ion-button>

    <ion-input type="text" placeholder="Say something, tell us..."></ion-input>

    <ion-button fill="clear" color="success">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-row>
</ion-content>
