.row {
  display: flex;
  border: solid var(--ion-color-success) 1px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-radius: 30px;
  margin: 15px;
  

  ion-input {
    margin-top: 5px;
  }
}